.book {
  position: relative;
  border-radius: 10px;
  width: 100%;
  height: 70vh;
  background-color: whitesmoke;
  -webkit-box-shadow: 1px 1px 4px #d97706;
  box-shadow: 1px 1px 4px #d97706;
  -webkit-transform: preserve-3d;
  -ms-transform: preserve-3d;
  transform: preserve-3d;
  -webkit-perspective: 2000px;
  perspective: 2000px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  color: #000;
}

.cover {
  top: 0;
  position: absolute;
  background-color: white;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  cursor: pointer;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  -webkit-transform-origin: 0;
  -ms-transform-origin: 0;
  transform-origin: 0;
  -webkit-box-shadow: 1px 1px 4px #d97706;
  box-shadow: 1px 1px 4px #d97706;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.booka .cover {
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  -webkit-transform: rotatey(-130deg);
  -ms-transform: rotatey(-130deg);
  transform: rotatey(-130deg);
}

.shadow__btn {
  padding: 10px 20px;
  border: none;
  font-size: 17px;
  color: #fff;
  border-radius: 7px;
  letter-spacing: 4px;
  font-weight: 700;
  text-transform: uppercase;
  transition: 0.5s;
  transition-property: box-shadow;
  background: rgb(0, 140, 255);
  box-shadow: 0 0 10px rgb(0, 140, 255);
  animation: pulse 2s infinite;
}

.shadow__btn:hover {
  box-shadow: 0 0 5px rgb(0, 140, 255), 0 0 25px rgb(0, 140, 255),
    0 0 50px rgb(0, 140, 255), 0 0 100px rgb(0, 140, 255);
}

@keyframes pulse {
  0% {
    /* transform: scale(0.75); */
    box-shadow: 0 0 10px rgb(0, 140, 255);
  }

  70% {
    /* transform: scale(1); */
    box-shadow: 0 0 5px rgb(0, 140, 255), 0 0 20px rgb(0, 140, 255),
      0 0 40px rgb(0, 140, 255), 0 0 100px rgb(0, 140, 255);
  }

  100% {
    /* transform: scale(0.75); */
    box-shadow: 0 0 10px rgb(0, 140, 255);
  }
}
